$color-white: #FFFFFF;
$color-brown: #82441E;
$color-gray: #585858;
$color-benefits: #555555;
$color-dark: #000000;
$color-menu: #352014;
$color-footer: #FAFAFB;
$color-line-footer: #EFEFEF;
$gradient-brown: linear-gradient(180deg, rgba(130,68,30,.25), rgba(130,68,30,0));
$gradient-white: linear-gradient(360deg, rgba(24,11,2,.29), rgba(130,68,30,.31));